
.container {
    text-align: center;
    margin: 0 auto;
    width: 100%; 
}


.image-container {
    display: flex;
    justify-content: left;
    align-items: center;
}


#meupet-home {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 300px;
    border-radius: 70px;
}

#cachorro{
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 50px;
    margin-top: 100px;
   border: 5px solid white;
}

#gato{
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 50px;
    margin-top: 100px;
   border: 5px solid white;
   justify-content: right;
   margin-left: 50px;
}

p{
    margin-left: 20px;
    font-family: poppinsmedium;
    text-align: left;
}

@media screen and (max-width: 700px){
   #div-home{
    flex-direction: column;
   } 
}