
#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    z-index: -1; /* Coloca o vídeo atrás do conteúdo */
}

#background video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover; /* Cobre todo o background */
    opacity: 0.3; /* Ajuste a opacidade conforme necessário */
    
}




